.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;

}

.hero {}

.heroContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroHeader {
    color: white;
    font-size: 27px;
    background-color: var(--primary-color);
    padding: 10px 0;
    margin: 0;
    text-align: center;
    width: 100%;

}

.desc {
    color: var(--primary-color);
    font-size: var(--font-size);
    font-weight: 600;
    padding: 30px;
    text-align: center;
}

.sectionForm{

}