.input {
    padding: 40px 15px;
    margin: 10px;
    border-radius: 20px;
    font-size: var(--font-size);
    outline: none;
    transition: border var(--tranzition-property);
    width: 100%;
    max-width: 500px;
}

.input:hover,
.input:focus {
    border: 1px solid var(--secondary-color);
}