:root {
  --primary-color: rgb(110, 209, 188);
  --secondary-color: rgb(3, 115, 91);
  --font-size: 25px;
  --tranzition-property: 250ms ease-in-out
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav {
  display: flex;
  gap: 4px;
}

.link {
  color: rgb(24, 189, 195);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: rgb(8, 60, 62);
}

.active {
  color: rgb(8, 60, 62);
}