.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 10px 20px;
    max-width: 900px;
}

.listItem {
    width: calc((100% - 40px) / 3);
    position: relative;

}